<div class="box padded box-content padded">
    <h2>Lighthouse Settings</h2>
    <p class="text-muted">
        Add all your informations and configurations for a successfully Goolge Lighthouse report.
    </p>
    <hr>
    <br>
    <form action="/lighthouse" method="post" name="lighthouse" id="newForm" enctype="multipart/form-data">
        <div class="form-row">
            <label for="url" class="col-sm-2 col-form-label">Website- URL</label>
            <div class="col-sm-10">
                <input type="url" name="url" pattern="https?://.+" class="form-control" id="url"
                       placeholder="https://www.example.tld"
                       aria-describedby="urlHelp">
                <small id="urlHelp" class="form-text text-muted">Only a single url is accepted.</small>
            </div>
        </div>
        <br>
        <div class="form-row">
            <label for="--sites" class="col-sm-2 col-form-label">List of website URLs</label>
            <div class="col-sm-10">
                <input type="text" name="--sites" class="form-control" id="sitesurl"
                       placeholder="https://www.example.tld, https://www.yourdomina.tld, https://www.company.tld"
                       aria-describedby="--sitesHelp">
                <small id="--sitesHelp" class="form-text text-muted">Multiple site urls allowed, separete each url with
                    a comma (,)</small>
            </div>
        </div>
        <br>

        <div class="form-group row">
            <label for="apikey" class="col-sm-2 col-form-label">API Key</label>
            <div class="col-sm-10">
                <input type="text" name="apikey" required class="form-control" id="apikey"
                       placeholder="AAAAA-BBBBB-CCCCC-DDDDD"
                       aria-describedby="apikeyHelp">
                <small id="apikeyHelp" class="form-text text-muted">Your personal API key.</small>
            </div>
        </div>
        <div class="form-group row">
            <label for="parameters" class="col-sm-2 col-form-label">Parameters</label>
            <div class="col-sm-10">
                <input type="text" name="parameters" class="form-control" id="parameters"
                       aria-describedby="parametersHelp"
                       placeholder='--html --use-global'>
                <small id="parametersHelp" class="form-text text-muted">Same options like command line tools. <a
                    href="https://www.screamingfrog.co.uk/seo-spider/user-guide/general/#command-line" target="_blank">See
                    more</a></small>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
