<div class="box padded box-content padded">
    <h2>Scheduled Crawler Settings</h2>
    <p class="text-muted">
        Add all your informations and configurations for a successfully scheduled crawling.
    </p>
    <hr>
    <br>
    <form action="/crawler/scheduler" method="post" name="crawler" id="newForm">
        <div class="form-row">
            <label for="crawlerurl" class="col-sm-2 col-form-label">Crawler- URL</label>
            <div class="col-sm-10">
                <input type="url" name="crawlerurl" pattern="https?://.+" class="form-control" id="crawlerurl"
                       placeholder="https://www.example.com" aria-describedby="crawlerurlHelp">
                <small id="crawlerurlHelp" class="form-text text-muted">Only a single url is accepted.</small>
            </div>
        </div>
        <br>
        <div class="form-group row">
            <label for="schedule" class="col-sm-2 col-form-label">Schedule</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="schedule" id="schedule" placeholder="0 0 * * TUE"
                       aria-describedby="scheduleHelp">
                <small id="schedulehelp" class="form-text text-muted">Use Cron syntax for scheduling.</small>
            </div>
        </div>
        <br>
        <div class="form-group row">
            <label for="configfile" class="col-sm-2 col-form-label">Configuration file</label>
            <div class="col-sm-10">
                <input type="input" readonly name="configfile" class="form-control-file" id="configfile"
                       aria-describedby="configfileHelp" value="http://116.203.67.104/crawler.seospiderconfig">
                <small id="configfileHelp" class="form-text text-muted">Screamingfrog configuration file.</small>
            </div>
        </div>

        <div class="form-group row">
            <label for="apikey" class="col-sm-2 col-form-label">API Key</label>
            <div class="col-sm-10">
                <input type="text" required class="form-control" name="apikey" id="apikey"
                       placeholder="AAAAA-BBBBB-CCCCC-DDDDD" aria-describedby="apikeyHelp">
                <small id="apikeyHelp" class="form-text text-muted">Your personal API key.</small>
            </div>
        </div>
        <div class="form-group row">
            <label for="parameters" class="col-sm-2 col-form-label">Parameters</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="parameters" name="parameters"
                       aria-describedby="parametersHelp"
                       placeholder='--create-sitemap --export-tabs "Page Titles:Missing,Meta Description:Missing" --save-report "Redirect & Canonical Chains"'>
                <small id="parametersHelp" class="form-text text-muted">Same options like command line tools. <a
                    href="https://www.screamingfrog.co.uk/seo-spider/user-guide/general/#command-line" target="_blank">See
                    more</a></small>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
