<div class="lighthouse-charts container">
    <div class="col-sm-12">
        <h3>###projectname###</h3>
        <br>
        <div class="accordion" id="accordionExample">
            ###content###
        </div>
    </div>
</div>

