<div class="box padded box-content padded">
    <h2>Lighthouse Seitentypen</h2>
    <p class="text-muted">
        Fügen Sie Ihre Seitentypen ein.
    </p>
    <hr>
    <br>
    <form action="/lighthouse/pagetypes" method="post" name="lighthouse" id="newFormUrls" enctype="multipart/form-data">

        <div class="form-group">
            <label for="projectname">Projektname</label>
            <input type="text" name="projectname" class="form-control" id="projectname" placeholder="" value="###projectname###">
        </div>
        <div class="form-group">
            <label for="urls">Seiten-URLs (max 15 URLs, nur eine URL pro Zeile)</label>
            <textarea class="form-control" name="urls" id="urls" rows="20">###projecturls###</textarea>
        </div>
        <input type="hidden" name="id" value="###id###">
        <button type="submit" class="btn btn-primary">###buttonvalue###</button>
    </form>
</div>
