/* OVERWRITES */

a.txt {
  color: #376BAD;
}

.navbar-header {
  float: left;
}

 .header-dropdown {
  margin-top: 5px;
 }

.navbar-default {
  padding: 10px 0;
}

.action-nav-row {
  margin-right: 0px;
}

.navbar-right .sparkline-box {
  margin-top: 5px;
}

.navbar-right .sparkline-box h4 {
  text-shadow: none;
}

.navbar-right .sparkline-box .sparkline-row {
  text-align: center;
  padding: 0;
  padding-right: 15px;
  float: left;
  border-right: 1px dotted #747474;
  border-left: none;
}

.primary-sidebar .divider {
  border-top: 1px solid #444444;
}

.box-header .nav .label {
  margin-left: 5px;
}

.crawler-pie {
  margin-top: 30px;
}

.crawler-pie  .crawler-chart {
  display: inline-block;
}

.crawler-pie .subline {
  padding-top: 20px;
}

.table-normal thead td {
  text-align: left;
}


.form-horizontal .label-1 {
  padding-top: 11px;
}

.form-horizontal .label-2 {
  padding-top: 5px;
}

.radio, .checkbox {
  padding-left: 0;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  height: 40px;
}

input[type="text"] {
  padding-left: 9px;
}

.tagsinput input {
  padding: 2px 8px 6px 0px;
}

.primary-sidebar .nav > li > a {
  padding-left: 15px;
}

.dataTables_filter input {
  margin-left: 10px;
}

.data-table thead,
.dataTable thead {
  cursor: n-resize;
}

select.custom {
  border: 1px solid #d7d7d7;
  border-radius: 0;
  font-size: 14px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  padding: 10px;
  font-size: 12px;
  color: gray;
}

#data-table_info,
#DataTables_Table_0_info {
  clear: none;
  padding: 23px 0 0 20px;
}

/* CUSTOM STYLES */

span.l20 {
  margin-left: 20px;
}

span.big-green {
  font-size: 14px;
  float: left;
  display: block;
  padding: 10px;
  font-weight: 600;
  color: #629b3e;
}

.w20 {
  width: 20%;
}

.w10 {
  width: 10%;
}

.w5 {
  width: 5%;
}

p.bigger {
  font-size: 14px;
  margin: 0 0 8px;
}

span.red {
  color: #c75d5d;
}

.primary-sidebar .mtop30 {
  margin-top: 30px;
}

var {
  font-style: normal;
}

a.label:hover {
  color: #fff;
}

ol.content{
  margin-left: 40px;
}

ul.content {
  margin-left: 20px;
}

td.center {
  text-align: center;
}

.crawl-input-radio {
  float: left;
  padding-right: 20px;
  padding-top: 5px;
}

.loading-big {
  margin: 20px;
}

.logo-big {
  width: 450px; 
}

.logo-small {
  width: 240px; 
  padding-top: 4px;
}

ul.kolibri {
  margin-left: 35px;
}

ul.kolibri li {
  font-size: 1.5em;
  line-height: 1.4em;
}

textarea.crawler {
  height: 75px;
}

textarea.domainjuice {
  height: 150px;
}

textarea.searchvolume {
  height: 250px;
}

textarea.rankings {
  height: 450px;
}

 td.rank {
  position: relative;
 }

td.rank,
a.rankings {
  color: #5a6573;
  font-size: 15px;
}

td.rank-url,
a.rankings-url {
  color: #5a6573;
  font-size: 13px;
}


td.gadw {
  font-size: 13px;
  color: #c0c0c0;
}

small.rankings {
  float: right;
}

small.rankings a {
  font-size: 9px;
  color: #E6E6E6;
}

textarea.rankings-keyword {
  height: 850px;
}

.google-drive-request,
.csv-request {
  cursor: pointer;
}

ul.small {
  padding: 5px 20px;
}


#OPSC_opi_chart {
  height: 200px;
}

#OPSC_opi_chart svg {
  padding: 5px;
}

a {
  word-wrap: break-word;
}

/* D3 IRIS */ 

svg {
  font-size: 14px;
}

.foreground path {
  fill: none;
  stroke-opacity: .5;
  stroke-width: 1.5px;
}

.foreground path.fade {
  stroke: #000;
  stroke-opacity: .05;
}

.legend {
  font-size: 18px;
  font-style: oblique;
}

.legend line {
  stroke-width: 2px;
}

.versicolor,
.thomascook {
  stroke: #800;
}

.setosa,
.neckermann-reisen {
  stroke: #080;
}

.virginica,
.weg {
  stroke: #008;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff;
  cursor: move;
}

.xcharts-line-dotted .axis line, .xcharts-line-dotted .axis path,
.sine-chart .axis line, .sine-chart .axis path {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

/* MAIN LOGIN SITE */

#main-login .social-login a {
  text-decoration: underline;
}

#main-login {
  font-size: 14px;
}

#main-login .social-login {
  min-height: 340px;
}

#main-login .social-login .left {
  float: left;
}

#main-login .social-login .text {
  margin-left: 200px;
  padding-top: 20px;
}

@media (max-width: 768px) {

  #main-login .social-login .left {
    float: none;
  }

  #main-login .social-login .text {
    margin-left: 0;
    padding-top: 20px;
  }

}

#main-login .social-login .h1 { 
  font-size: 24px;
  padding-top: 0;
  margin-top: 5px;
}

#main-login .social-login h1 { 
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

#main-login .imprint {
  text-align: center;
  display: inherit;
}

#main-login .input-group input[type="text"], .input-group input[type="password"], .input-group input[type="email"], .input-group input[type="number"], .input-group input[type="text"], .input-group input[type="password"], .input-group input[type="email"], .input-group input[type="number"] {
  height: 50px;
  font-size: 24px;
}

#main-login ::-webkit-input-placeholder {
   padding-top: 7px;
}

#main-login ::-moz-placeholder {
 padding-top: 7px;
}

#main-login :-ms-input-placeholder {
 padding-top: 7px;
}

#main-login .input-group.addon-left input[type="password"],
#main-login .input-group.addon-left input[type="text"] {
  padding-left: 60px;
  padding-bottom: 6px;
}

#main-login .input-group.addon-left .input-group-addon {
  width: 50px;
  padding-top: 10px;
}

#main-login .btn {
  font-size: 16px;
}

#main-login .title {
  font-size: 24px;
  font-weight: normal;
}

#main-login p {
  font-size: 14px;
  margin-bottom: 15px;
}

