/* OVERWRITES */


.metric small {
  font-size: 50%;
}

.cf-container {
  margin: 15px auto 0;
}

.cf-subline {
  margin: 5px auto 0;
  color: rgb(100, 100, 100);
}

.cf-svmc-sparkline .cf-sparkline {
  margin-top: 50px;
}

@media (min-width: 1600px) {
  .cf-svp .metrics {
    margin-bottom: 35%;
    width: 80%;
  }
}

.right {
  float: right;
}

body.black .navbar,
.navbar-inverse,
.navbar-default {
  background-color: #2b2b2b;
  background-image: none;
}

a {
  color: darkgrey;
}

a:hover, a:active, a:focus {
  cursor: pointer;
  outline: 0px none;
  text-decoration: none;
  color: #5a6573;
}


a.white {
  color: #fff;
}

a.white:hover, a.white:active, a.white:focus {
  cursor: pointer;
  outline: 0px none;
  text-decoration: none;
  color: #fff;
}

.oneproseo-preloader-dark {
  background: url(../images/preloader-dark.gif) no-repeat 0px 0px;
  display: block;
  background-size: 100%;
  width: 76px;
  height: 80px;
  margin: 30px 30px;
}


/* CUSTOM STYLES */

.sparkline-sites,
.sparkline-sistrix-mobile,
.sparkline-sistrix,
.sparkline-dex {
  float: left;
}

#OPSCF_gwt_2,
#OPSCF_gwt,
#OPSCF_keywords,
#OPSCF_keywords_ber,
#OPSCF_keywords_muc,
#OPSCF_keywords_aug,
#ops_news {
  padding: 0 15px 0 0;
  height: 85%;
  overflow: auto;
}

.cf-news {
  padding: 2px;
}

.cf-news .title {
  font-size: 17px;
}

.biglogo {
  padding:5px;
  width: 100%;
}

.cf-item {
  height: 300px;
}

.cf-td .metric {
  font-size: 5em;
}

.cf-small .cf-figs-fig {
  font-size: 1.4em;
}

.col-sm-3 .cf-txts-txt {
  font-size: 1.1em;
}

.cf-funnel .cf-figstxts li div p.metric {
  font-size: 1.7em;
}

.cf-small .cf-funnel .cf-figstxts li div p.metric {
  font-size: 1em;
}

.cf-small .cf-funnel .cf-figstxts li div p.small {
  font-size: .9em;
}

.cf-small .keyword {
  font-size: 2em;
}

.cf-small .metric {
  font-size: 5em;
}

.cf-small .metric-small {
  font-size: 2em;
}

.cf-table {
  width: 100%;
  font-size: .85em;
}

.arrow-down {
  border-width: 17.7px 10.5px 0 10.5px
}

.arrow-up {
  border-width: 0px 10.5px 17.7px 10.5px;
}

.arrow-right {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10.5px 0 10.5px 17.7px;
}

.arrow-dash {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 2.5px 8px 2.5px 8px;
  margin-right: 2px;
}

.m-green .arrow-right {
  border-color: transparent transparent transparent #66ce39;
}

.m-green .arrow-dash {
  border-color: #66ce39;
}

.cf-table td {
  border-bottom: 1px solid #3C3B3B;
}

.cf-table tr:last-child td {
  border-bottom: none;
}

.cf-table td.fig,
.cf-table td.kw {
  color: #fff;
  font-size: 1.6em;
  padding-top: 2px;
  padding-bottom: 2px;
}

b.white {
  color: #fff;
}

.cf-svmc {
  min-height: 110px;
}
canvas {
  height: 140px;
  margin-top: 10px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button:vertical {
    background-color: #2b2b2b;
    border: 1px dashed #414141;
}

/* Turn on single button up on top, and down on bottom */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
}

/* Turn off the down area up on top, and up area on bottom */
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}

/* Place The scroll down button at the bottom */
::-webkit-scrollbar-button:vertical:increment {
    background-color: #2b2b2b;
    border: 1px dashed #2b2b2b;
}

/* Place The scroll up button at the up */
::-webkit-scrollbar-button:vertical:decrement {
    background-color: #2b2b2b;
    border: 1px dashed #2b2b2b;
}

::-webkit-scrollbar-track:vertical {
    background-color: #2b2b2b;
    border: 1px dashed #2b2b2b;
}

/* Top area above thumb and below up button */
::-webkit-scrollbar-track-piece:vertical:start {
    border: 1px solid #2b2b2b;
}

/* Bottom area below thumb and down button */
::-webkit-scrollbar-track-piece:vertical:end {
    border: 1px dashed #2b2b2b;
}

/* Track below and above */
::-webkit-scrollbar-track-piece {
    background-color: #2b2b2b;
}

/* The thumb itself */
::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #414141;
}

/* Corner */
::-webkit-scrollbar-corner:vertical {
    background-color: #2b2b2b;
}

/* Resizer */
::-webkit-scrollbar-resizer:vertical {
    background-color: #2b2b2b;
}
