/* OVERWRITES */
.datepicker table tr td.disabled {
  color: #dad8d8;
}

.dtoverflow {
  display: inline-block;
  overflow-y: scroll;
}

span [class^="icon-"], [class*=" icon-"] {
  vertical-align: middle;
}

.btn-primary {
  color: white;
  background-color: #59A300;
  border-color: #6d963b;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  color: white;
  background-color: #66BB00;
  border-color: #59A300;
}

.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active {
  background-color: #4BCA42;
  border-color: #66BB00;
}

.dataTables_info {
  clear: none;
  float: left;
  padding: 23px 20px;
}

.table-footer .dataTables_info {
  clear: none;
  float: left;
  padding: 12px 8px;
}

.titleleft {
  float: left;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}

.titleright {
  float: right;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}

.navbar .nav > li {
  float: left;
}

.menubar {
  margin-top: 5px;
}

.nav > li > a:hover {
  background-color: transparent;
}

table.dataTable thead tr th.sorting_desc,
.table-normal thead td.sorting_desc {
  background: #848484;
  color: #fff;
  text-shadow: none;
}

table.dataTable thead tr th.sorting_asc,
.table-normal thead td.sorting_asc {
  background: #848484;
  color: #fff;
  text-shadow: none;
}

#processingIndicator {
  text-align: center;
  font-size: 10px;
  padding: 10px;
}

.table-normal tfoot td.:first-child {
  border-left: none;
}

.table-normal tfoot td {
  border-left: 1px solid #eaebef;
}

.table-normal tfoot td.cumm {
  background: rgb(244, 255, 244);
  font-size: 14px;
  font-weight: 600;
}

.table-normal td.hl {
  background: #e5e5e5;
  text-shadow: none;
}

.oneproseo-preloader {
  background: url(../images/preloader.gif) no-repeat 0px 0px;
  display: block;
  background-size: 100%;
  width: 76px;
  height: 80px;
  margin: 30px 30px;
}

.oneproseo-preloader-silo {
  background: url(../images/preloader.gif) no-repeat 0px 0px;
  display: block;
  background-size: 100%;
  width: 76px;
  height: 80px;
  margin: 10px 10px;
  float:left;
}


a.txt {
  color: #376BAD;
}

a.white {
  color: inherit;
  text-decoration: underline;
}

a.highlight {
  color: #d96d0d;
}

a.highlightruk {
  color: #5A88C3;
  text-decoration: underline;
  font-size: 14px;
}

.navbar-header {
  float: left;
  margin-left: 8px;
}

 .header-dropdown {
  margin-top: 5px;
 }

.navbar-default {
  padding: 10px 0;
}

.action-nav-row {
  margin-right: 0px;
}

.navbar-right .sparkline-box {
  margin-top: 5px;
}

.navbar-right .sparkline-box h4 {
  text-shadow: none;
}

.navbar-right .sparkline-box .sparkline-row {
  text-align: center;
  padding: 0;
  padding-right: 15px;
  float: left;
  border-right: 1px dotted #747474;
  border-left: none;
}

.primary-sidebar .divider {
  border-top: 1px solid #444444;
}

.box-header .nav .label {
  margin-left: 5px;
}

.crawler-pie {
  margin-top: 30px;
}

.crawler-pie  .crawler-chart {
  display: inline-block;
}

.crawler-pie .subline {
  padding-top: 20px;
}

.subpie {
  position: absolute;
  top: 14px;
  font-size: 9px;
  left: 49px;
}

.table-normal thead td {
  text-align: left;
}

.form-horizontal .label-1 {
  padding-top: 11px;
}

.form-horizontal .label-2 {
  padding-top: 5px;
}

.radio, .checkbox {
  padding-left: 0;
}

tr:nth-child(odd) td.darker {
  border-left: 1px solid #BEBFC2;
  border-right: 1px solid #BEBFC2;
}
tr:nth-child(even) td.darker {
  border-left: 1px solid #BEBFC2;
  border-right: 1px solid #BEBFC2;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="file"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  height: 40px;
}

input[type="file"] {
  border-radius: 0;
  font-size: 14px;
  color: #858585;
  padding: 9px;
  border: 1px solid #d7d7d7;
  display: inline-block;
  background: #F8F8F8;

}

input[type="text"] {
  padding-left: 9px;
}

input.colsearch {
  height: 30px;
  margin-top: 5px;
  padding-left: 4px;
}

.tagsinput input {
  padding: 2px 8px 6px 0px;
}

.primary-sidebar .nav > li > a {
  padding-left: 10px;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 8px;
}

.dataTables_filter input {
  margin-left: 10px;
}

.data-table thead,
.dataTable thead {
  cursor: n-resize;
}

span.hint {
  cursor:help;
}

select.custom {
  border: 1px solid #d7d7d7;
  border-radius: 0;
  font-size: 14px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  padding: 10px;
  font-size: 12px;
  color: gray;
}

#data-table_info,
#DataTables_Table_0_info {
  clear: none;
  padding: 23px 0 0 20px;
}

/* CUSTOM STYLES */

.rangefilter {
  width: 60px;
}

.mediavalue {
  cursor: default;
  margin-top: 7px;

}

.box-toolbar-price {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.box-toolbar-price > li {
  position: relative;
  float: left;
  margin-left: 15px;
  line-height: 37px;
  padding-right: 10px;
  color: #636363;
  font-size: 12px;
}


h1.indexwatch {
  margin-bottom: 30px;
}

strong.indexwatch {
  font-size: 16px;
}

strong.indexwatch a {
  color: #59A300;
}

.sistrix {
  color: #007AC9;
  font-size: 16px;
  display: block;
  padding: 10px;
}

.sistrix a {
  color: #007AC9;
}

.cf-winner-looser {
  height: 300px;
  overflow:scroll;
}

.cf-winner-looser td.fig {
  text-align: right;
}

#ops_generictop10,
#ops_open {
  cursor: pointer;
}

#ops_generictop10 > a,
#ops_generictop10 > a:hover {
  color:#fff;
}

.cf-wl-float {
  width:33%;
  float:left;
  padding: 5px;
}

.cf-table {
  width: 97%;
  font-size: 0.75em;
  margin: 10px;
}

.cf-table td.fig, .cf-table td.kw {;
  font-size: 1.6em;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
}

.cf-table td {
  border-bottom: 1px solid #CDCDCD;
}


.m-green .arrow-up {
  border-color: transparent transparent #66ce39 transparent;
}

.m-green {
  color: #66ce39 !important;
}

.m-red {
  color: #f23c25 !important;
}

.metric-small {
  font-size: 1.5em;
  line-height: 1;
}

.arrow-up {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0px 5.5px 10.7px 5.5px;
}

.m-red .arrow-down {
  border-color: #f23c25 transparent transparent transparent;
}

.arrow-down {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10.7px 5.5px 0 5.5px;
}

.m-green .arrow-dash {
    border-color: #66ce39;
}

.arrow-dash {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 1.5px 5px 1.5px 5px;
    margin-right: 2px;
}

p.jsonloading {
  font-size: 22px;
  float: left;
  margin: 20px 30px 20px 20px;
  width: 900px;
}

button.jsonloading {
  margin-top: 35px;
}

div.jsonloading {
  height: 280px;
}

span.jsonloading {
  padding-top: 10px;
  display: inline-block;
}

.setedit {
  line-height: 0;
  margin-top: 20px;
}

.labelplain {
  display: inline;
  margin: 0;
}

.label-red-super {
  background: #FF0000;
  background-size: 100%;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#FF0000),color-stop(100%,#AD0000));
  background-image: -webkit-linear-gradient(top,#FF0000,#AD0000);
  background-image: -moz-linear-gradient(top,#FF0000,#AD0000);
  background-image: -o-linear-gradient(top,#FF0000,#AD0000);
  background-image: linear-gradient(top,#FF0000,#AD0000);
  -webkit-box-shadow: 0 1px 0 #f7f7f7,inset 0 1px 1px #ab5050;
  -moz-box-shadow: 0 1px 0 #f7f7f7,inset 0 1px 1px #ab5050;
  box-shadow: 0 1px 0 #f7f7f7,inset 0 1px 1px #ab5050;
}

#ops_load_wl_1,
#ops_load_wl_6,
.ops_copy_to {
  cursor: pointer;
}

.f12 {
  font-size: 12px;
}

.fixul > li {
  margin-left: 25px;
}

.ops_setload_dex12w,
.ops_setload_dex12m,
.ops_setload_dex31,
.ops_setload_dex7,
.ops_setload,
.ops_set {
  margin: 17px;
  height: 30px;
}

.ops_setdata_bg {
  background: url(../images/bg_dex.png) 0px 0px;
}

.nowrap {
  white-space: nowrap;
}

.gray {
  color: #c0c0c0;
}

span.best {
  color: #629b3e;
  cursor: help;
}

span.l20 {
  margin-left: 20px;
}

span.r20 {
  margin-right: 20px;
}

span.big-green {
  font-size: 19px;
  float: left;
  display: block;
  padding: 10px;
  font-weight: 600;
  color: #629b3e;
}

span.big-blue {
  font-size: 19px;
  float: left;
  display: block;
  padding: 10px;
  font-weight: 600;
  color: #599cc7
}

span.small {
  font-size: 10px;
  float: left;
  display: block;
  padding: 14px 0;
  font-weight: 100;
  color: #938F8F;
}

.w20 {
  width: 20%;
}

.w10 {
  width: 10%;
}

.w5 {
  width: 5%;
}

p.bigger {
  font-size: 14px;
  margin: 0 0 8px;
}

span.red {
  color: #c75d5d;
}

.primary-sidebar .mtop30 {
  margin-top: 30px;
}

var {
  font-style: normal;
}

a.label:hover {
  color: #fff;
}

ol.content{
  margin-left: 40px;
}

ul.content {
  margin-left: 20px;
}

td.center {
  text-align: center;
}

.crawl-input-radio {
  float: left;
  padding-right: 20px;
  padding-top: 5px;
}

.loading-big {
  margin: 20px;
}

.logo-big {
  width: 450px;
}

.logo-small {
  width: 240px;
  padding-top: 4px;
}

ul.kolibri {
  margin-left: 35px;
}

ul.kolibri li {
  font-size: 1.5em;
  line-height: 1.4em;
}

textarea.crawler {
  height: 75px;
}

textarea.domainjuice {
  height: 150px;
}

textarea.searchvolume {
  height: 250px;
}

textarea.rankings {
  height: 450px;
}

textarea.quantifier {
  height: 300px;
  width: 100%;
}

td.rank {
  position: relative;
}

td.rank,
a.rankings {
  color: #5a6573;
  font-size: 15px;
}

td.rank-url,
a.rankings-url {
  color: #5a6573;
  font-size: 13px;
}

td.gadw {
  font-size: 13px;
  color: #c0c0c0;
}

.table-normal thead td.tdright,
td.tdright {
  text-align: right;
}

td.tdcenter {
  text-align: center;
}

small.rankings {
  font-size: 9px;
  float: right;
  color: #b6b6b6;
  padding-right: 0 5px;
}

small.rankings a {
  font-size: 9px;
  color: #c8c8c8;
}

textarea.rankings-keyword {
  height: 850px;
}

#ops_load_seven_table,
#ops_load_seven_graph,
.google-drive-request,
.csv-request {
  cursor: pointer;
}

ul.small {
  padding: 5px 20px;
}

#OPSC_opi_highchart {
  width:100%;
  height:300px;
}

#OPSC_opi_chart {
  height: 200px;
}

#OPSC_opi_chart svg {
  padding: 5px;
}

#OPSC_bot_chart {
  height: 200px;
}

#OPSC_bot_chart svg {
  padding: 5px;
}

#linktracker_chart {
  height: 200px;
}

#linktracker_chart svg {
  padding: 5px;
}

tspan {
  font-size: 12px;
}

a {
  word-wrap: break-word;
}

h1.title-small {
  font-size: 24px;
  margin: 0;
  font-weight: 300;
  color: #888;
  line-height: 35px;
}
.menu {
margin-left: 30px;
}
span.hbox2 {
  font-size: 23px;
}

table.plain {
  width: 100%;
  border: none;
  border-color: none;
  border-left: none;
  border-top: none;
}

table.plain tbody tr td,
table.plain tbody tr,
table.plain tbody td,
table.plain td {
  border: none;
  border-color: none;
  border-left: none;
  border-top: none;
  padding: 3px;
  font-size: 11px;
}

table.plain tbody tr:nth-child(even),
table.plain tbody tr:nth-child(odd) {
  background: none;
}

.table-normal thead td.gray,
td.gray {
  background: #eaebef;
}

#ops_load_seven_graph12m,
#ops_load_seven_graph12w,
#ops_load_seven_graph7,
#ops_load_seven_graph31,
#ops_load_seven_table {
  margin-right: 20px;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 0px;
  background: rgba(58, 170, 53, .8)
}

::-webkit-scrollbar {
  height: 6px;
  overflow: visible;
  width: 13px;
}

::-webkit-scrollbar-track {
  height: 6px;
  width: 13px;
}

::-webkit-scrollbar-track:hover {
  background-color: rgba(220, 172, 0, .05);
  box-shadow: inset 1px 1px 0 rgba(58, 170, 53, .3)
}

/* D3 IRIS */

svg {
  font-size: 14px;
}

.foreground path {
  fill: none;
  stroke-opacity: .5;
  stroke-width: 1.5px;
}

.foreground path.fade {
  stroke: #000;
  stroke-opacity: .05;
}

.legend {
  font-size: 18px;
  font-style: oblique;
}

.legend line {
  stroke-width: 2px;
}

.versicolor,
.thomascook {
  stroke: #800;
}

.setosa,
.neckermann-reisen {
  stroke: #080;
}

.virginica,
.weg {
  stroke: #008;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff;
  cursor: move;
}

.xcharts-line-dotted .axis line, .xcharts-line-dotted .axis path,
.sine-chart .axis line, .sine-chart .axis path {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

/* MAIN LOGIN SITE */

#main-login .social-login a {
  text-decoration: underline;
}

#main-login {
  font-size: 14px;
}

#main-login .social-login {
  min-height: 340px;
}

#main-login .social-login .left {
  float: left;
}

#main-login .social-login .text {
  margin-left: 200px;
  padding-top: 20px;
}

@media (max-width: 768px) {

  #main-login .social-login .left {
    float: none;
  }

  #main-login .social-login .text {
    margin-left: 0;
    padding-top: 20px;
  }

}

#main-login .social-login .h1 {
  font-size: 24px;
  padding-top: 0;
  margin-top: 5px;
}

#main-login .social-login h1 {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

#main-login .imprint {
  text-align: center;
  display: inherit;
}

#main-login .input-group input[type="text"], .input-group input[type="password"], .input-group input[type="email"], .input-group input[type="number"], .input-group input[type="text"], .input-group input[type="password"], .input-group input[type="email"], .input-group input[type="number"] {
  height: 50px;
  font-size: 24px;
  line-height: 100%;
}

#main-login ::-webkit-input-placeholder {
   padding-top: 7px;
}

#main-login ::-moz-placeholder {
 padding-top: 7px;
}

#main-login :-ms-input-placeholder {
 padding-top: 7px;
}

#main-login .input-group.addon-left input[type="password"],
#main-login .input-group.addon-left input[type="text"] {
  padding-left: 60px;
  padding-bottom: 6px;
}

#main-login .input-group.addon-left .input-group-addon {
  width: 50px;
  padding-top: 10px;
}

#main-login .btn {
  font-size: 16px;
}

#main-login .title {
  font-size: 24px;
  font-weight: normal;
}

#main-login p {
  font-size: 14px;
  margin-bottom: 15px;
}

/* TOOTLTIP */

.data-tooltip {
  cursor: help;
  position: relative;
}

.data-tooltip:before {
  content: attr(data-tooltip);
  display: none;
  position: absolute;
  background: #eaebef;
  border: 1px solid #eaebef;
  border-radius: 2px;
  padding: 10px;
  top: -61px;
  font-weight: normal;
  font-size: 12px;
  color: #000;
  box-shadow: 0 0 20px #928C8C;
  width: 330px;
  height: 55px;
  text-align: left;
}

.data-tooltip:after {
  position: absolute;
  left: -3px;
  top: -8px;
  border-top: 10px solid #eaebef;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: "";
  display: none;
}

.data-tooltip:hover:after,
.data-tooltip:hover:before {
  display: block;
}


.tooltip-with-markup {
  cursor: help;
  position: relative;
}

.tooltip-with-markup > span {
  display: none;
  position: absolute;
  background: #eaebef;
  border: 1px solid #eaebef;
  border-radius: 2px;
  padding: 10px;
  top: -32px;
  font-weight: normal;
  font-size: 12px;
  color: black;
  box-shadow: 0 0 20px #928C8C;
  width: 450px;
  min-height: 100px;
  left: -470px;
  opacity: 0;
  -webkit-transition: opacity .5s linear;
  -moz-transition: opacity .5s linear;
  -o-transition: opacity .5s linear;
  -ms-transition: opacity .5s linear;
  transition: opacity .5s linear;
}

.tooltip-with-markup > span img {
  margin: 10px 0;
}

.tooltip-with-markup > span i {
  font-size: 18px;
}

.tooltip-content span.arrow {
  background: #eaebef;
  width: 20px;
  height: 20px;
  margin-left: 429px;
  margin-top: 20px;
  display: block;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  z-index: -1;
}


.tooltip-with-markup:hover > span {
  display: block;
  opacity: 1;
  z-index: 2;
}

.tooltip-wrapper {
  position: relative;
}

#ops-histochart2,
#ops-histochart {
  background-color: rgba(255,255,255,0.5);
  font-size: .6em;
  height: 300px;
}

#ops-histochart2 svg,
#ops-histochart svg {
  padding-top: 10px;
  margin-left: -15px;
}

.hidecolumn {
  cursor: not-allowed;
}

/* SORTABLE */

.sortable-highlight {
  height: 110px;
  width: 100%;
  margin-bottom: 20px;
  display: block;
  border: #629b3e 2px dotted;
  border-radius: 5px;
  background:rgba(255, 0, 0, 0.1);
}

.info-sortable,
.add-sortable,
.delete-sortable {
  cursor: pointer;
}

/*
.sortable > .box > .box-header {
  cursor: move;
}
*/

/* SOCIAL BUTTONS */

.right {
  float: right;
}

.left {
  float: left;
}

.center {
  text-align: center;
}

.ag-social-buttons {
  margin: auto;
  text-align: center;
}

.ag-social-buttons-con {
  display: inline-block;
}

.ag-social-buttons .ag-social-clear {
  display: block;
  clear: both;
}

.ag-social-buttons .ag-social-button {
  display: block;
  float: left;
  margin: 0px 10px 0px 0px;
  text-decoration: none;
}

.ag-social-buttons .ag-social-button:last-of-type {
  margin-right: 0px;
}

.ag-social-buttons .ag-social-button span {
  display: block;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  line-height: 1;
}

.ag-social-buttons.design-0 .ag-social-button {
  background: url(../images/social-buttons/btn-0.svg) no-repeat 0px 0px;
  background-size: 80px 360px;
  width: 80px;
  height: 60px;
}
.ag-social-buttons.design-0 .ag-social-twitter {
  background-position: 0px -60px;
}
.ag-social-buttons.design-0 .ag-social-google {
  background-position: 0px -120px;
}
.ag-social-buttons.design-0 .ag-social-pinterest {
  background-position: 0px -180px;
}
.ag-social-buttons.design-0 .ag-social-xing {
  background-position: 0px -240px;
}
.ag-social-buttons.design-0 .ag-social-linkedin {
  background-position: 0px -300px;
}
.ag-social-buttons.design-0 .ag-social-button span {
  padding: 10px 4px;
}

.ag-social-buttons.design-0 .magnify {
  background: url(../images/social-buttons/btn-0-wide.svg) no-repeat 0px 0px;
  background-size: 120px 360px;
  width: 120px;
  height: 60px;
}
.ag-social-buttons.design-0 .magnify-twitter {
  background-position: 0px -60px;
}
.ag-social-buttons.design-0 .magnify-google {
  background-position: 0px -120px;
}
.ag-social-buttons.design-0 .magnify-pinterest {
  background-position: 0px -180px;
}
.ag-social-buttons.design-0 .magnify-xing {
  background-position: 0px -240px;
}
.ag-social-buttons.design-0 .magnify-linkedin {
  background-position: 0px -300px;
}

.ag-social-buttons.design-1 .ag-social-button {
  background: url(../images/social-buttons/btn-1.svg) no-repeat 0px 0px;
  background-size: 170px 204px;
  width: 170px;
  height: 34px;
  margin-right: 8px;
}
.ag-social-buttons.design-1 .ag-social-twitter {
  background-position: 0px -34px;
}
.ag-social-buttons.design-1 .ag-social-google {
  background-position: 0px -68px;
}
.ag-social-buttons.design-1 .ag-social-pinterest {
  background-position: 0px -102px;
}
.ag-social-buttons.design-1 .ag-social-xing {
  background-position: 0px -136px;
}
.ag-social-buttons.design-1 .ag-social-linkedin {
  background-position: 0px -170px;
}
.ag-social-buttons.design-1 .ag-social-button span {
  padding: 9px 4px;
  width: 72px;
}

.ag-social-buttons.design-2 .ag-social-button {
  background: url(../images/social-buttons/btn-2.svg) no-repeat 0px 0px;
  width: 72px;
  height: 26px;
  margin-right: 5px;
}
.ag-social-buttons.design-2 .ag-social-twitter {
  background-position: 0px -26px;
}
.ag-social-buttons.design-2 .ag-social-google {
  background-position: 0px -52px;
}
.ag-social-buttons.design-2 .ag-social-xing {
  background-position: 0px -78px;
}
.ag-social-buttons.design-2 .ag-social-button span {
  padding: 5px 3px 0px;
  overflow: hidden;
  width: 48px;
  float: right;
  color: #fff;
}

.ag-social-buttons.design-3 .ag-social-button {
  background: url(../images/social-buttons/btn-3.png) no-repeat 0px 0px;
  width: 100px;
  height: 20px;
  margin-right: 12px;
}
.ag-social-buttons.design-3 .ag-social-twitter {
  background-position: -100px 0px;
  width: 111px;
}
.ag-social-buttons.design-3 .ag-social-google {
  background-position: -211px 0px;
  width: 75px;
}
.ag-social-buttons.design-3 .ag-social-xing {
  background-position: -286px 0px;
  width: 99px;
}
.ag-social-buttons.design-3 .ag-social-button span {
  float: right;
  padding: 5px 2px;
  width: 35px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 12px;
  color: #666;
  font-weight: normal;
}

#close-magnify {
  cursor: pointer;
  float: right;
  padding: 20px;
}

.open-magnify {
  color: green;
  font-size: 8px;
  cursor: pointer;
}

.lightbox-container {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 1002;
  height:100%;
  width:100%;
  background-color: #fbfbfb;
}


.label-pink {
  background: #FF69B4;
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FF69B4), color-stop(100%, #f9007c));
  background-image: -webkit-linear-gradient(top, #FF69B4, #f9007c);
  background-image: -moz-linear-gradient(top, #FF69B4, #f9007c);
  background-image: -o-linear-gradient(top, #FF69B4, #f9007c);
  background-image: linear-gradient(top, #FF69B4, #f9007c);
  -webkit-box-shadow: 0 1px 0 #e5a2c4, inset 0 1px 1px #f9007c;
  -moz-box-shadow: 0 1px 0 #e5a2c4, inset 0 1px 1px #f9007c;
  box-shadow: 0 1px 0 #e5a2c4, inset 0 1px 1px #f9007c; 
}


.label-violet {
  background: #e321ee;
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e269ff), color-stop(100%, #c700f9));
  background-image: -webkit-linear-gradient(top, #e269ff, #c700f9);
  background-image: -moz-linear-gradient(top, #e269ff, #c700f9);
  background-image: -o-linear-gradient(top, #e269ff, #c700f9);
  background-image: linear-gradient(top, #e269ff, #c700f9);
  -webkit-box-shadow: 0 1px 0 #e6dcea, inset 0 1px 1px #c775ea;
  -moz-box-shadow: 0 1px 0 #e6dcea, inset 0 1px 1px #c775ea;
  box-shadow: 0 1px 0 #e6dcea, inset 0 1px 1px #c775ea;
}


#ops_pulse {
	position:relative;
	width:240px;
	height:40px;
	margin:20px auto;
}

.ops_pulse {
	position:absolute;
	top:0;
	background-color:rgb(58, 170, 53);

	width:30px;
	height:30px;
	animation-name:bounce_ops_pulse;
		-o-animation-name:bounce_ops_pulse;
		-ms-animation-name:bounce_ops_pulse;
		-webkit-animation-name:bounce_ops_pulse;
		-moz-animation-name:bounce_ops_pulse;
	animation-duration:1.375s;
		-o-animation-duration:1.375s;
		-ms-animation-duration:1.375s;
		-webkit-animation-duration:1.375s;
		-moz-animation-duration:1.375s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:20px;
		-o-border-radius:20px;
		-ms-border-radius:20px;
		-webkit-border-radius:20px;
		-moz-border-radius:20px;
}

#ops_pulse_1{
	left:0;
	animation-delay:0.386s;
		-o-animation-delay:0.386s;
		-ms-animation-delay:0.386s;
		-webkit-animation-delay:0.386s;
		-moz-animation-delay:0.386s;
}

#ops_pulse_2{
	left:30px;
	animation-delay:0.4825s;
		-o-animation-delay:0.4825s;
		-ms-animation-delay:0.4825s;
		-webkit-animation-delay:0.4825s;
		-moz-animation-delay:0.4825s;
}

#ops_pulse_3{
	left:60px;
	animation-delay:0.589s;
		-o-animation-delay:0.589s;
		-ms-animation-delay:0.589s;
		-webkit-animation-delay:0.589s;
		-moz-animation-delay:0.589s;
}

#ops_pulse_4{
	left:90px;
	animation-delay:0.6855s;
		-o-animation-delay:0.6855s;
		-ms-animation-delay:0.6855s;
		-webkit-animation-delay:0.6855s;
		-moz-animation-delay:0.6855s;
}

#ops_pulse_5{
	left:120px;
	animation-delay:0.782s;
		-o-animation-delay:0.782s;
		-ms-animation-delay:0.782s;
		-webkit-animation-delay:0.782s;
		-moz-animation-delay:0.782s;
}

#ops_pulse_6{
	left:150px;
	animation-delay:0.8785s;
		-o-animation-delay:0.8785s;
		-ms-animation-delay:0.8785s;
		-webkit-animation-delay:0.8785s;
		-moz-animation-delay:0.8785s;
}

#ops_pulse_7{
	left:180px;
	animation-delay:0.975s;
		-o-animation-delay:0.975s;
		-ms-animation-delay:0.975s;
		-webkit-animation-delay:0.975s;
		-moz-animation-delay:0.975s;
}

#ops_pulse_8{
	left:210px;
	animation-delay:1.0715s;
		-o-animation-delay:1.0715s;
		-ms-animation-delay:1.0715s;
		-webkit-animation-delay:1.0715s;
		-moz-animation-delay:1.0715s;
}



@keyframes bounce_ops_pulse{
	0%{
	transform:scale(1);
		background-color:rgb(58, 170, 53);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_ops_pulse{
	0%{
	-o-transform:scale(1);
		background-color:rgb(58, 170, 53);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_ops_pulse{
	0%{
	-ms-transform:scale(1);
		background-color:rgb(58, 170, 53);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_ops_pulse{
	0%{
	-webkit-transform:scale(1);
		background-color:rgb(58, 170, 53);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_ops_pulse{
	0%{
	-moz-transform:scale(1);
		background-color:rgb(58, 170, 53);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}


table.tagedit {
  width:100%;
}
table.tagedit td {
  padding:5px;
}

.tagsinput span.tag {
  margin: 2px;
}

.tagsinput span.tag a {
  color: red;
  padding-left: 4px;
}

textarea.nostyle {
  border:1px dashed  lightgrey;
  background: transparent;
  resize: none;
  cursor: zoom-in;
}

div.jsonld { 
  display: table;
  width: 100%;
}

div.jsonld-table-row {
  display: table-row;
}

div.jsonld-table-cell {
  display: table-cell; 
  width:50%;
}

pre.jsonld {
  margin-left: 20px;
}

.jsonld-table-cell textarea {
  padding: 5px;
}

.jsonld-answerbox {
  border: 1px solid #c3c3c3; 
  padding: 10px; 
  background: #f2f2f2;
}