<div class="box padded box-content padded">
    <h2>Crawler Status</h2>
    <p class="text-muted">
        Here a all your Screaming Frog SEO Spider crawler activities.
    </p>
    <hr>
    <br>
    <div class="accordion" id="accordionExample">
        ###CONTENT###
    </div>
</div>
